.formContainer {
    width: 100%;
}

.form {
    width: 100%;
    margin: auto;
    height: 300px;
}

.form div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form div input {
    margin: 10px auto;
    width: 90%;
}
.form div select {
    margin: 10px auto;
    width: 90%;
}
